.canvas {
  position: relative;
  margin: auto;
  top: 10px;
  box-sizing: content-box;
  background-size: cover;
  background-position: center;
  background-repeat: no repeat;
  cursor: initial;
}

p {
  margin: 50px;
  color: white;
}