.canvas {
  position: relative;
  margin: auto;
  box-sizing: content-box;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: initial;
}

.selected {
  box-sizing: border-box;
  border: 2px solid red;
}