.button {
  display: flex;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  font: 400 18px/20px "Arial", sans-serif;
  height: 42px;
  border-style: none;
  border-radius: 10px;
  transition: 0.2s ease;
  white-space: nowrap;
  padding: 0 5px;
  margin: 0 10px;
  cursor: pointer;
  background-color: #b9b9b9;
}

.button:hover {
  background-color: #ffffff;
  transition: 0.05s ease;
}

.button__dowload {
  display: flex;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  font: 400 18px/20px "Arial", sans-serif;
  height: 42px;
  border-style: none;
  border-radius: 10px;
  transition: 0.2s ease;
  white-space: nowrap;
  padding: 0 5px;
  margin: 0 10px;
  cursor: pointer;
  background-color: #5a9e00;
}

.button__dowload:hover {
  background-color: #ffdc5c;
  transition: 0.2s ease;
}