.app_wrapper {
  margin: 0 auto;
  display: grid;
  height: 100vh;

  grid-template-areas:
    "hd hd"
    "sb ws";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 3fr 10fr;
  grid-gap: 10px
}